/*---------- star rating ----------*/
flex-display {
  display: flex;
}

.star-rating {
  display: flex;
  align-items: center;
  font-size: 1.5em;
  /* justify-content: center; */
  margin-bottom: 10px;
}

.back-stars {
  display: flex;
  /* color: #bb5252; */
  color: white;
  position: relative;
  /* text-shadow: 4px 4px 10px #843a3a; */
  text-shadow: 4px 4px 10px #c5c5c5;
}

.front-stars {
  display: flex;
  /* color: #FFBC0B; */
  color: rgb(253, 216, 54);
  overflow: hidden;
  position: absolute;
  text-shadow: 2px 2px 5px #d29b09;
  top: 0;
  transition: all .5s
}

/* input {
  background: transparent;
  border: solid 2px #bb5252;
  color: #fff;
  font-size: 1.5em;
  height: 50px;
  width: 60px;
  text-align: center;
  margin-top: 50px;
  margin-right: 10px;
}

input:focus {
  outline: none;
} */

/* .percent {
  color: #bb5252;
  font-size: 1.5em;
} */