@charset "ISO-8859-1";
.attribute-card {
    position: relative;
}

.btn-add-attribute {
    position: absolute;
    left: 15%;
    top: 6px;
    color: #0069D9;
    padding: 1px 6px;
    border-radius: 3px;
}

.item-attribute {
    position: relative;
}

.btn-delete-attribute {
    position: absolute;
    top: 0px;
    right: 0px;
    color: red;
    padding: 1px 6px;
    border-radius: 3px;
}

.required {
    color: red !important;
    font-weight: bold !important;
}

.btn-delete-attribute:hover {
    background-color: red;
    color: white;
    cursor: pointer;
}

.btn-add-attribute:hover {
    background-color: #0069D9;
    color: white;
    padding: 1px 6px;
    cursor: pointer;
}